body {
    margin: 0;
    padding: 0;
  	font-family: 'Lato', sans-serif;
  	font-weight: 400;
  	font-size: 16px;
  	line-height: 1.7;
    justify-content: center;
  	color: #eee;
}

.header {
    color: black;
  	height: 100vh;
  	background-image: 
	  linear-gradient(to right bottom, 
     rgba(255, 255, 255, 0.4),
     rgba(255, 255, 255, 0.4)),
     url("https://i.ytimg.com/vi/kKVK3eHLyZ8/maxresdefault.jpg");
  	
	  background-size: cover;
  	background-position: top;
  	position: relative;

  	clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  	position: absolute;
  	top: 40px;
  	left: 40px;
}

.brand { font-size: 20px; }

.text-box {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.heading-primary-main {
  	display: block;
  	font-size: 40px;
  	font-weight: 600;
  	letter-spacing: 5px;
}

.btn:link,
.btn:visited {
  	text-transform: uppercase;
  	text-decoration: none;
  	padding: 10px 20px;
  	display: inline-block;
  	border-radius: 100px;
  	transition: all .2s;
  	position: relative;
}

.btn:hover {
    color: white;
  	background-color: black;
}

.btn:active {
  	transform: translateY(-1px);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  	background-color: #fff;
  	color: black;
	  font-size: 14px;
}

.buttons{
  text-align: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  --c: black;
  color: var(--c);
  font-size: 16px;
  border: 1px solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: white;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}
#top{
  float: right;
  position: fixed;
}
#top button{
  border-radius: 50%;
  background-color: white;
}
#top button:hover{
  background-color: turquoise;
}
#header2{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:40vw;
  min-height:400px;
  max-height:600px;
  min-width:300px;
  color:#eee;
  /* clip-path: polygon(0 0, 100% 15vh, 100% 100%, 0 100%); */

}
#header2:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 40%,rgba(27,32,48,1) 150%); */
}
#header2:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    transform: scale(1.0, 1.0);
    transform: translateZ(0);
  background:#6d7db3 url(https://wallpapersprinted.com/download/2/burj_khalifa_dubai_united_arab_emirates-wallpaper-1920x1200.jpg) 70% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 100s linear 10ms infinite; 
  transition:all 0.4s ease-in-out;
  z-index:-2
}
#header2 a{
  color:#eee
}

.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-100px)}
}
.content{  
  /* margin-top: -50px; */
  padding: 3% 10%;
  text-align:justify;
  color: black;
}
.content2{
  padding: 50px 150px;
  margin-top: -50px;
  justify-content: center;
  color: black;
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600;
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}

#titleImage{
  padding: 50px;
  text-align: center;
}
#titleImage img{
  width: 100%;
  border-radius: 10px;
}

.sticky{
  color: #28D2DD;
  position: fixed;
  top: 0;
  width: 100%;
}

.hotels{
  padding: 0 50px;
  display: block;
  color: black;
}
.hotels img{
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  width: 100%;

}
.row{
  padding: 20px;
  display: flex;
}

#imageHotels{
  
  box-shadow: 5px 5px 5px black;
}
#imageHotels img{
  width: 30%;
  border-radius: 10px;
}
#description{
  width: 50%;
  padding: 30px;
  display: block;
  /* text-align: center; */
  justify-content: center;
}
#hotelTitle, #hotelTitle2, #hotelTitle3, #hotelTitle4{
  text-align: center;
}
#check{
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
}
#check:hover{
  /* background-color: #28D2DD; */
  color: white;
  background: black;
  border: 2px solid white;
}

.slider{
  width: 50%;
  height: 30%;
  position: relative;
  text-align: center;
  display: flex;

}
.container{
  display: flex;
  justify-content: center;
}
.container img {
  width: 80%;
  height: 50%;
  z-index: -2;
}

.container > button {
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.container .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}

#title{
  padding-top: 50px;
  color: black;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
.buttons a{
  color: black;
}
.buttons a:hover{
  color: #fff;
}

@media (max-width:700px){
  *{
    margin: 0 auto;
  }
  .row{
    display: block;
    padding: 50px 0;
    text-align: center;
  }
  #header2{
    display: none;
  }
  #description{
    width: 100%;
    padding: 0;
  }
  #explain{
    font-size: 20px;
  }
  .content{
    padding: 20px 0;
  }
  .slider{
    padding: 50px 0;
    width: 100%;
  }
}